body{
	background-color: cyan; 
}
h1{
	color: #6DE61D;
	text-align: center;
}


.marciano{
	height: 0px;
	width: 0px;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: marcianito;
	position: relative;
}

/*-------------------------*/

@keyframes marcianito{
	0%{top: 0px; left: 0px; }
	50%{left: 1150px;}
	100%{top: 0px; left: 0px; }
}